.shadow {
   box-shadow: 1px 1px 5px #d8d6d6,
   -1px -1px 5px #d8d6d6;
}

.contact {
   display: flex;
   justify-content: space-between;
}

.contactsItem {
   flex-basis: 0;
   flex-grow: 1;
}

div.contactsItem {
   display: flex;
}

.icon {
   padding: .25rem;
   background-color: #fff;
   border-radius: 50%;
   margin-right: .5rem;
}

.delete {
   cursor: pointer;
   transition: transform .2s ease;
}

.delete:hover {
   transform: scale(1.3);
}